@{
    ViewData["Title"] = "Hom";
}
@model string?



<div class="text-center">
    
    @using(Html.BeginForm())
    {
        <h2>inscripción Gimnasio Esfuerzo vital:</h2>
        <label for="Nombre">Nombre Usuario:</label>
        <input type="text" id="Nombre" name="Nombre"><br><br>
        <label for="contrasena">Contrasena:</label>
        <input type="password" id="contrasena" name="contrasena"><br><br>
        <label for="nPersonas">Numero de personas a subscribirse:</label>
        <select name="nPersonas" id="nPersonas">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <input type="submit">
    }
    @if(!String.IsNullOrEmpty(@Model))
    {
        <h1>En tu Proxima cuota tendras un : @Model de descuento</h1>
    }

        

</div>
